<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DangKy</title>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
</head>

<body ng-app="app">
  <div class="container p-5 ">
    <div class="row p-5 mt-5">
      <article class="col-sm-2 p-4 "><span></span></article>
      <aside class="col-sm-8 bg-light p-4">
        <div class="text-center fs-3 text-uppercase"><b>Đăng Ký Tài Khoản</b></div>
        <form action="" method="" name="form_login"  ng-submit="onFormSubmit($event)" ng-controller="dangkiController" >
          <div class="mt-3 row g-3">
            <label for="fullname" class="col-xl-3  p-1">Tên Đăng Nhập </label>
            <div class="col-xl-9">
              <input type="text" class="form-control" placeholder=" Enter Name" aria-label="Username"
                aria-describedby="addon-wrapping"
                ng-class="{'redBorder':form_login.name.$invalid && form_login.name.$untouched}"
                ng-model="sv.name" name="name" ng-minlength="5" ng-maxlength="25" id="name" required>
              <div ng-hide="form_login.name.$untouched || form_login.name.$valid" class="text-danger mt-1">
                <small ng-show="form_login.name.$error.required">
                  Tên Đăng Nhập Không được để trống
                </small>
                <small ng-show="form_login.name.$error.minlength || form_login.name.$error.maxlength ">
                  Tên Đăng nhập phải lớn hơn 5 kí tự và nhỏ hơn 25 kí tự
                </small>
              </div>
            </div>
          </div>
          <div class="mt-3 row">
            <label for="number" class="col-xl-3 p-2">Họ Tên</label>
            <div class="col-xl-9">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="addon-wrapping"
              ng-model="sv.fullname" name="fullname" ng-minlength="5" ng-maxlength="25" id="name" required>
            <div ng-hide="form_login.fullname.$untouched || form_login.fullname.$valid" class="text-danger mt-1">
              <small ng-show="form_login.fullname.$error.required">
                Họ Tên Không được để trống
              </small>
              <small ng-show="form_login.fullname.$error.minlength || form_login.fullname.$error.maxlength ">
                Họ Tên phải lớn hơn 5 kí tự và nhỏ hơn 25 kí tự
              </small>
            </div>
            </div>
          </div>
          <div class=" mt-3 row">
            <label for="exampleInputPassword1" class="col-xl-3 p-2">Giới tính</label>
            <div class="col-xl-9 mt-2">
            <input id="genNam" class="form-check-input " type="radio" ng-model="sv.gender" value="1"
                ng-checked="sv.gender == 1" name="gender">
            <label class="form-check-label pe-3" for="genNam">Nam</label>
            <input id="genNu" class="form-check-input" type="radio" ng-model="sv.gender" value="0"
                name="gender">
            <label class="form-check-label" for="genNu">Nữ</label>
        </div>
      </div>
          <div class="mt-3 row">
            <label for="email" class="col-xl-3 p-2">Email</label>
            <div class="col-xl-9">
                <input type="email" placeholder="Enter Email" class="form-control" name="email" id="email" ng-model="sv.email" 
                  required />
                  <div ng-hide="form_login.email.$untouched || form_login.email.$valid" class="text-danger mt-1">
                    <small ng-show="form_login.email.$error.required">
                      Không được để trống
                    </small>
  
                    <small ng-show="form_login.email.$error.email">
                      Sai định dạng email
                    </small>
                  </div>
                </div>
          </div>
          <div class="mt-3 row">
            <label for="password" class="col-xl-3 p-2">Mật khẩu</label>
            <div class="col-xl-9">
              <input type="password" class="form-control" placeholder="Password" aria-label="password"
                aria-describedby="addon-wrapping" name="pass" ng-model="sv.pass" ng-minlength="6" required>
                <div ng-hide="form_login.pass.$untouched || form_login.pass.$valid" class="text-danger">
                  <small ng-show="form_login.pass.$error.required">
                    Mật Khẩu Không được để trống
                  </small>
                  <small ng-show="form_login.pass.$error.minlength">
                    Mật Khẩu phải lớn hơn 6 kí tự
                  </small>
                </div>
            </div>
          </div>
          <div class="mt-3 row">
            <label for="password" class="col-xl-3 p-2">Nhập Lại Mật khẩu</label>
            <div class="col-xl-9">
              <input type="password" class="form-control" placeholder="Password" aria-label="password"
                aria-describedby="addon-wrapping" name="pass1" ng-model="sv.pass1" ng-minlength="6" required>
                <div ng-hide="form_login.pass1.$untouched || form_login.pass1.$valid" class="text-danger ">
                  <small ng-show="form_login.pass1.$error.required">
                    Mật Khẩu Không được để trống
                  </small>
                  <small ng-show="form_login.pass1.$error.minlength">
                    Mật Khẩu phải lớn hơn 6 kí tự
                  </small>
                </div>
            </div>
          </div>
          <div class="mt-3 row">
            <label for="number" class="col-xl-3 p-2">Địa Chỉ</label>
            <div class="col-xl-9">
              <input type="text" class="form-control" placeholder="Enter Address" aria-label="Username"
              aria-describedby="addon-wrapping"
              ng-model="sv.address" name="address" ng-minlength="5"  id="address" required>
            <div ng-hide="form_login.name.$untouched || form_login.name.$valid" class="text-danger mt-1">
              <small ng-show="form_login.name.$error.required">
                Địa Chỉ Không được để trống
              </small>
              <small ng-show="form_login.name.$error.minlength">
                Địa Chỉ phải lớn hơn 5 kí tự 
              </small>
            </div>
            </div>
          </div>
          <div class="mt-2 row">
            <button class="btn btn-success col-5 offset-4 mt-4" ng-click="onInsert()"> Đăng Ký </button>
          </div>
        </form>
        <p class="mt-5 text-center">
          Bạn đã có tài khoản ? <a href="login1.html" class="loginhere-link text-decoration-none">Đăng nhập ngay</a>
        </p>
      </aside>
      <aside class="col-sm-2 text-center p-4"><span></span></aside>
    </div class="row">
    <footer class="row p-2 text-center">
      <span></span>
    </footer>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angularjs.min.js"></script>
  <script src="controller/FormController.js"></script>
  <script>
    const app = angular.module("app", []);
    app.controller("dangkiController",formController);
  </script>
</body>

</html>