<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doimk</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/29b41ee1c8.js" crossorigin="anonymous"></script>
</head>

<body ng-app="app">

    <div class="container " >
        <header class="row">
            <div class="col-12">
                <img src="images/banner.png" class="img-fluid border-0 p-0 col-12">
            </div>
        </header>
        <nav class="row navbar navbar-expand-lg navbar-dark bg-dark sticky-top m-0 p-1 ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-navbar"
                    aria-controls="my-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="my-navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item row ">
                            <a class="nav-link bi bi-house-door-fill" href="home.html"> &nbsp;&nbsp;FPT Polytechnic
                                &nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bi bi-blockquote-left" href="gioithieu.html"> &nbsp;&nbsp;Giới thiệu&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bi bi-telephone-fill" href="lienhe.html"> &nbsp;&nbsp;Liên hệ&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bi bi-envelope" href="gopy.html"> &nbsp;&nbsp;Góp ý&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bi bi-question-circle-fill" href="hoidap.html">&nbsp;&nbsp;Hỏi đáp&nbsp;&nbsp;</a>
                        </li>
                    </ul>
                    <!-- <span class="navbar-text p-0"> -->
                    <li class="nav-item dropdown row">
                        <a class="nav-link dropdown-toggle bi bi-person-fill navbar-text" href="#"
                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            &nbsp;&nbsp;Tài khoản&nbsp;&nbsp;
                        </a>
                        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item responsive-font-example" href="dangki.html">Đăng Ký</a></li>
                            <li><a class="dropdown-item responsive-font-example" href="login1.html">Đăng Nhập</a></li>
                            <li><a class="dropdown-item responsive-font-example" href="quenmk.html">Quên Mật Khẩu</a></li>
                            <hr>
                            <li><a class="dropdown-item responsive-font-example" href="login1.html">Đăng Xuất</a></li>
                            <li><a class="dropdown-item responsive-font-example" href="doimatkhau.html">Đổi Mật Khẩu</a></li>
                            <li><a class="dropdown-item responsive-font-example" href="capnhat.html">Cập Nhập Tài Khoản</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
        <div class="row  ms-0 me-0 mt-0 bg-light">
            <div class="col-12 col-md-1">
            </div>
            <div class="col-12 col-md-8 p-5">
                <label for="" class="offset-4 fs-2 text-uppercase text-danger mb-4">Đổi Mật Khẩu</label>
                <!-- <div class=" row alert alert-success col-xl-8 ">
                    Đổi Mật Khẩu Thành Công
                </div> -->
                <form action="" method="" name="form_login" ng-controller="changepassword">
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Tên Đăng Nhập</label>
                        <div class="col-xl-8">
                          <input type="text" class="form-control" id="colFormLabel" placeholder="Nhập Tên Đăng Nhập" readonly name="Name" ng-model="{{info.name}}" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Mật Khẩu Hiện Tại</label>
                        <div class="col-xl-8">
                          <input type="password" class="form-control" id="colFormLabel" ng-minlength="6" placeholder="Nhập Mật Khẩu" name="pass" ng-model="sv.pass" required>
                          <div ng-hide="form_login.pass.$untouched || form_login.pass.$valid" class="text-danger">
                            <small ng-show="form_login.pass.$error.required">
                              Mật Khẩu Không được để trống
                            </small>
                            <small ng-show="form_login.pass.$error.minlength">
                              Mật Khẩu phải lớn hơn 6 kí tự
                            </small>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Mật Khẩu Mới</label>
                        <div class="col-xl-8">
                          <input type="password" class="form-control" id="colFormLabel" ng-minlength="6" placeholder="Nhập Mật Khẩu Mới" name="pass1" ng-model="sv.pass1" required>
                          <div ng-hide="form_login.pass1.$untouched || form_login.pass1.$valid" class="text-danger">
                            <small ng-show="form_login.pass1.$error.required">
                              Mật Khẩu Không được để trống
                            </small>
                            <small ng-show="form_login.pass1.$error.minlength">
                              Mật Khẩu phải lớn hơn 6 kí tự
                            </small>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Xác Nhận Mật Khẩu</label>
                        <div class="col-xl-8">
                          <input type="password" class="form-control" id="colFormLabel" ng-minlength="6" placeholder="Xác Nhận Mật Khẩu Mới" name="pass2" ng-model="sv.pass2" required>
                          <div ng-hide="form_login.pass2.$untouched || form_login.pass2.$valid" class="text-danger">
                            <small ng-show="form_login.pass2.$error.required">
                              Mật Khẩu Không được để trống
                            </small>
                            <small ng-show="form_login.pass2.$error.minlength">
                              Mật Khẩu phải lớn hơn 6 kí tự
                            </small>
                          </div>
                        </div>
                      </div>
            
                    <div class="mt-4 row g-3">
                        <label for="" class="col-4"></label>
                        <button class="btn btn-success col-lg-3 " ng-click="changePassword()">Xác Nhận</button>
                    </div>
                </form>
        </div>
            <div class="col-12 col-md-3 p-2 mt-2  ">
                <div class="card ">
                    <div class="border border-secondary">
                        <div class="card-header">
                            <b> <i class="fas fa-list-ul"></i>  DANH MỤC MÔN HỌC</b>
                        </div>
                        <ul class="list-group mt-0">
                            <li class="list-group-item ">
                                <a class="text-decoration-none text-black " href="thitracnghiem.html">Lập Trình Android nâng cao</a>
                            </li>
                            <li class="list-group-item border border-top-1">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Xây dựng trang Web</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Cơ sở dữ liệu</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">SQL Server</a>
                            </li>
                            <li class="list-group-item" >
                                <a class="text-decoration-none text-black " href="thitracnghiem.html">Internet Marketing</a>
                            </li>
                            <li class="list-group-item border border-top-1 ">
                                <a class="text-decoration-none text-black " href="thitracnghiem.html">Lập Trình hướng đối tượng với Java</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Lập Trình PHP</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Điện toán đám mây</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Lập Trình Android cơ bản</a>
                            </li>
                            <li class="list-group-item border border-top-1">
                                <a class="text-decoration-none text-black " href="thitracnghiem.html">Lập trình game 2D</a>
                            </li>
                            <li class="list-group-item  ">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Thiết Kế giao diện trên Android</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Thiết Kế web cho điện thoại di động</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-decoration-none text-black" href="thitracnghiem.html">Lập Trình ASP.NET</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row bg-secondary ms-0 m-0">
            <div class="col-sm-3">
                <img src="https://phothongcaodang.fpt.edu.vn/wp-content/uploads/LOGO-PTC%C4%90-White-Transparency.png"
                    class="w-75 pt-2" alt="">
            </div>
            <div class="col-sm-3 pt-3">
                <h5 class="text-uppercase text-white">Thông tin liên hệ</h5>
                <p class="text-white">
                    <i class="bi bi-envelope-fill"></i> Email: caodangefpt.edu.vn
                    <br>
                    <i class="bi bi-telephone-fill"></i> <span class="text-decoration-underline">(024) 7300 1955</span>
                </p>
            </div>
            <div class="col-sm-6 pt-3">
                <h5 class="text-uppercase text-white">Địa chỉ cơ sở Hà Nội</h5>
                <p class="text-white">
                    <i class="bi bi-geo-alt-fill"></i> Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
                    <br>
                    <i class="bi bi-telephone-fill"></i> <span class="text-decoration-underline">(024) 8582 0808</span>
                </p>
            </div>
        </footer>
    </div>

    </div>
   
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angularjs.min.js"></script>
    <script src="controller/TableController.js"></script>
    <script>
        var app = angular.module("app", []);
        app.controller("changepassword",tableController);
    </script>
</body>

</html>