<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <!-- link -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://kit.fontawesome.com/29b41ee1c8.js" crossorigin="anonymous"></script>
</head>

<body ng-app="myApp">
  <div class="container">
    <header class="row">
      <img src="images/270282507_4802450183147377_5158199785237686706_n.png" class="img-fluid p-0" alt="">
    </header>
    <nav class="row navbar navbar-expand navbar-dark bg-dark ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-navbar"
          aria-controls="my-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my-navbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item row ">
              <a class="nav-link bi bi-house-door-fill" href="home.html"> &nbsp;&nbsp;FPT Polytechnic
                &nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-blockquote-left" href="gioithieu.html"> &nbsp;&nbsp;Giới thiệu&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-telephone-fill" href="lienhe.html"> &nbsp;&nbsp;Liên hệ&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-envelope" href="gopy.html"> &nbsp;&nbsp;Góp ý&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-question-circle-fill" href="hoidap.html">&nbsp;&nbsp;Hỏi đáp&nbsp;&nbsp;</a>
            </li>
          </ul>
          <!-- <span class="navbar-text p-0"> -->
          <li class="nav-item dropdown row">
            <a class="nav-link dropdown-toggle bi bi-person-fill navbar-text" href="#" id="navbarDropdownMenuLink"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              &nbsp;&nbsp;Xin Chào {{info.name}} &nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item responsive-font-example" href="dangki.html">Đăng Ký</a></li>
              <li><a class="dropdown-item responsive-font-example" href="login1.html">Đăng Nhập</a></li>
              <li><a class="dropdown-item responsive-font-example" href="quenmk.html">Quên Mật Khẩu</a></li>
              <hr>
              <li><a class="dropdown-item responsive-font-example" ng-click="logout()" href="login1.html">Đăng Xuất</a>
              </li>
              <li><a class="dropdown-item responsive-font-example" href="doimatkhau.html">Đổi Mật Khẩu</a></li>
              <li><a class="dropdown-item responsive-font-example" href="capnhat.html">Cập Nhập Tài Khoản</a></li>
            </ul>
          </li>
        </div>
      </div>
    </nav>
    <div class="row mt-2" ng-controller="quizcontroller">
      <div class="px-0">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">Kết Thúc Bài Làm</button>
        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có muốn nộp bài không?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-controller="quizcontroller">
      <article class="col-sm-9 mt-3" ng-show="!check">
        <div class="row">
          <div class="card p-0">
            <div class="card-header">
              <h5 class="card-title text-uppercase mb-0 pt-1"><i class="bi bi-book-fill text-danger"></i> Cơ sở dữ
                liệu</h5>
            </div>
    
            <div class="card-body">
              <div class="row" ng-repeat="q in quizs | limitTo:1:start">
                <p class="ps-4">Câu {{start+ 1}}. {{q.text}}</p>
                <hr>
                <div class="row ps-5">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="{{q.da1}}" ng-dirty="" ng-model="quiz.ques"
                      name="flexRadioDefault" id="rd1">
                    <label class="form-check-label" for="rd1">
                      {{q.da1}}
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="{{q.da2}}" ng-dirty="" ng-model="quiz.ques"
                      name="flexRadioDefault" id="rd2">
                    <label class="form-check-label" for="rd2">
                      {{q.da2}}
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="{{q.da3}}" ng-dirty="" ng-model="quiz.ques"
                      name="flexRadioDefault" id="rd3">
                    <label class="form-check-label" for="rd3">
                      {{q.da3}}
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="{{q.da4}}" ng-dirty="" ng-model="quiz.ques"
                      name="flexRadioDefault" id="rd4">
                    <label class="form-check-label" for="rd4">
                      {{q.da4}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
        <div class="row mt-2">
          <nav aria-label="...">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <button class="page-link" ng-click="start= 0">1</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 1">2</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 2">3</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 3">4</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 4">5</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 5">6</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 6">7</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 7">8</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 8">9</button>
              </li>
              <li class="page-item">
                <button class="page-link" ng-click="start= 9">10</button>
              </li>
            </ul>
          </nav>
        </div>
      </article>
      <aside class="col-sm-3 pb-5 mt-0 mb-5 pe-0" ng-controller ="homecontroller">
        <div class="card mt-2">
            <div class="border border-secondary">
                <div class="card-header">
                    <b> <i class="fas fa-list-ul"></i>  DANH MỤC MÔN HỌC 
                        <span  class="badge bg-danger rounded-pill ms-1">{{count}}</span></a></h5></b>
                </div>
                <ul class="list-group mt-0">
                    <li class="list-group-item " ng-repeat ="s in subjects">
                        <a class="text-decoration-none text-black " href="" ng-click="check()">{{s.text}}</a>
                    </li>
                    
                </ul>
            </div>
        </div>
      </aside>
    </div>
    <footer class="row bg-secondary ms-0 pe-0 me-0">
      <div class="col-sm-3">
          <img src="https://phothongcaodang.fpt.edu.vn/wp-content/uploads/LOGO-PTC%C4%90-White-Transparency.png"
              class="w-75 pt-2" alt="">
      </div>
      <div class="col-sm-3 pt-3">
          <h5 class="text-uppercase text-white">Thông tin liên hệ</h5>
          <p class="text-white">
              <i class="bi bi-envelope-fill"></i> Email: caodangefpt.edu.vn
              <br>
              <i class="bi bi-telephone-fill"></i> <span class="text-decoration-underline">(024) 7300 1955</span>
          </p>
      </div>
      <div class="col-sm-6 pt-3">
          <h5 class="text-uppercase text-white">Địa chỉ cơ sở Hà Nội</h5>
          <p class="text-white">
              <i class="bi bi-geo-alt-fill"></i> Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
              <br>
              <i class="bi bi-telephone-fill"></i> <span class="text-decoration-underline">(024) 8582 0808</span>
          </p>
      </div>
  </footer>

  </div>

  <!-- script -->
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="controller/homeController.js"></script>
  <script src="controller/quesController.js"></script>
  <script src="controller/quizController.js"></script>
  <script>
    var app = angular.module("myApp", []);
    app.controller("quizcontroller", quizController);
    app.controller("homecontroller", homeController);
  </script>
</body>

</html>