
        <div class="row  ms-0 me-0 mt-0 bg-light">
            <div class="col-12 col-md-2">
            </div>
            <div class="col-12 col-md-8 ms-4 p-5">
                <label for="" class="offset-4 fs-2 text-uppercase text-danger mb-4">Đổi Mật Khẩu</label>
                <!-- <div class=" row alert alert-success col-xl-8 ">
                    Đổi Mật Khẩu Thành Công
                </div> -->
                <form action="" method="" name="form_login" >
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Tên Đăng Nhập</label>
                        <div class="col-xl-8">
                          <input type="text" class="form-control" id="colFormLabel" placeholder="Nhập Tên Đăng Nhập" readonly name="Name" ng-model="info.name" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Mật Khẩu Hiện Tại</label>
                        <div class="col-xl-8">
                          <input type="password" class="form-control" id="colFormLabel" ng-minlength="6" placeholder="Nhập Mật Khẩu" name="pass" ng-model="info.pass" required>
                          <div ng-hide="form_login.pass.$untouched || form_login.pass.$valid" class="text-danger">
                            <small ng-show="form_login.pass.$error.required">
                              Mật Khẩu Không được để trống
                            </small>
                            <small ng-show="form_login.pass.$error.minlength">
                              Mật Khẩu phải lớn hơn 6 kí tự
                            </small>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Mật Khẩu Mới</label>
                        <div class="col-xl-8">
                          <input type="password" class="form-control" id="colFormLabel" ng-minlength="6" placeholder="Nhập Mật Khẩu Mới" name="pass1" ng-model="sv.pass1" required>
                          <div ng-hide="form_login.pass1.$untouched || form_login.pass1.$valid" class="text-danger">
                            <small ng-show="form_login.pass1.$error.required">
                              Mật Khẩu Không được để trống
                            </small>
                            <small ng-show="form_login.pass1.$error.minlength">
                              Mật Khẩu phải lớn hơn 6 kí tự
                            </small>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="colFormLabel" class="col-xl-3 col-form-label">Xác Nhận Mật Khẩu</label>
                        <div class="col-xl-8">
                          <input type="password" class="form-control" id="colFormLabel" ng-minlength="6" placeholder="Xác Nhận Mật Khẩu Mới" name="pass2" ng-model="sv.pass2" required>
                          <div ng-hide="form_login.pass2.$untouched || form_login.pass2.$valid" class="text-danger">
                            <small ng-show="form_login.pass2.$error.required">
                              Mật Khẩu Không được để trống
                            </small>
                            <small ng-show="form_login.pass2.$error.minlength">
                              Mật Khẩu phải lớn hơn 6 kí tự
                            </small>
                          </div>
                        </div>
                      </div>
            
                    <div class="mt-4 row g-3">
                        <label for="" class="col-4"></label>
                        <button type="submit" class="btn btn-success col-lg-3 " ng-click="changePassword()">Xác Nhận</button>
                    </div>
                </form>
        </div>
           
        </div>